* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --secondary: #828282;
  --dark: #1b2021;
  --primary: #f58634;
}
body {
  font-family: 'Poppins', sans-serif; /*sans serif default*/
}
.wrapper {
  background-color: #fcfcfc;
  max-width: 100vw;
}
