.footer {
    display: flex;
    padding-inline: 135px;
    padding-top: 48px;
    padding-bottom: 48px;
    justify-content: space-between;
    align-items: center;
}

.footer .by {
    color: var(--secondary);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.footer .social-media {
    display: flex;
    column-gap: 37px;
}

.footer .social-media img {
    height: 34px;
    width: 34px;
    object-fit: contain;
}