.navbar {
    max-width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 135px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.navbar .logo {
    display: flex;
    align-items: baseline;
    color: var(--dark);
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.24px;
}

.navbar .logo .circle {
    background-color: var(--primary);
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin-left: 2px;
}

.navbar .navbar-button {
    display: flex;
    column-gap: 56px;
    align-items: center;
}

.navbar .navbar-button .active a {
    color: var(--dark) !important;
}

.navbar .navbar-button a {
    font-size: 16px;
    font-weight: 400;
    color: var(--secondary);
    text-decoration: none;
    letter-spacing: 0.16px;
}

.navbar .signin {
    background-color: var(--primary);
    width: 134px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .signin a {
    color: white;
}